In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

In [2]:
df_train = pd.read_json(open("/Users/apple1/desktop/kaggle/RentalListing/train.json", "r"))

# Featre Engineering

In [3]:
df_train["num_photos"] = df_train["photos"].apply(len)
df_train["num_features"] = df_train["features"].apply(len)
df_train["num_description_words"] = df_train["description"].apply(lambda x: len(x.split(" ")))
df_train["created"] = pd.to_datetime(df_train["created"])
df_train["created_year"] = df_train["created"].dt.year
df_train["created_month"] = df_train["created"].dt.month
df_train["created_day"] = df_train["created"].dt.day

In [4]:
df_train = df_train.reset_index()

In [5]:
df_train = df_train.drop('index', 1)

In [6]:
df_train.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,...,manager_id,photos,price,street_address,num_photos,num_features,num_description_words,created_year,created_month,created_day
0,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,...,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,5,0,95,2016,6,24
1,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,...,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,11,5,9,2016,6,12
2,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,...,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street,8,4,94,2016,4,17
3,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,...,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street,3,2,80,2016,4,18
4,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,...,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street,3,1,68,2016,4,28

# Take the mean value with grouping by Manager ID

In [7]:
df_train.groupby(['manager_id','interest_level'])['bathrooms'].count()

manager_id                        interest_level
0000abd7518b94c35a90d64b56fbf3e6  low                4
                                  medium             8
001ce808ce1720e24a9510e014c69707  low               10
003fc4e9a70053082f131b1054966aaf  low                1
00607a02f6efd9c6c7c588826e471ee9  medium             2
00995ff28d79127ed2dca8320e9e7d09  low                2
                                  medium             1
00a8d77892cab18fffaa22a751f1f8eb  low                3
00f0b3346ba8379b26b95be8a19d46b1  low                1
00f526d80353a50a52bbc26919e7ed5a  low                1
01074bb974b125b65fa1b11a64c65135  low                3
01157144534c928d731696e57ae4cd09  low                7
                                  medium             6
01287194f20de51872e81f660def4784  low                9
014520259b01b5c8523599de9d021285  high               3
                                  low                1
015ec75d52e204706be746706530371f  low                3
016ae4f8903a08719d9d9f232d61d3ba  high               3
                                  low                3
0176ff9c2592a72403fca7904a582345  high               1
                                  low               29
                                  medium             6
0181a13829b8f9a85fae15e39ad41575  high               1
                                  low                7
                                  medium             5
01a3d37c88990d387e564806699ca55d  low                3
01a6c313c643a5c9eeeb607b3a3f3dd1  low                1
01c92a064394eb8fd1a084631c8bc701  low                1
01caa8bedacb38c1a333b31647a0dd88  medium             1
01f1fadb85be52e12ffe3456b571fe5e  high               2
                                                    ..
feb54423d38fb5ad0ea85634ab53e35b  high               3
                                  low                1
                                  medium             2
febc23ef5d45054c64e380bac1ab9a3e  medium             1
fef690cb34be367eddfe2490805ba621  low               10
                                  medium             1
ff02723dde33dde012723b10783ecb30  low                7
                                  medium             9
ff0502ae23268fdc5706225a8735cce6  low                2
                                  medium             1
ff45f97e4709a06df6ca905a77f69072  medium             1
ff50149b1ec6a10fbb386d761c7a4bc5  low                2
                                  medium             1
ff52574a198d8a349f41d57bd374e8e9  high               5
                                  low                2
                                  medium             1
ff564542a40d3e9b970a494df91b4cee  low                1
ff5a3509ebce238dfa4857839ddd24ce  low                1
ff707b7f0a2ea94a26c784f06c9fec69  high               1
                                  low                5
                                  medium             1
ff810b43aecfacd00f20a2912ff1e288  low                1
ff8f1175d95c5a866ef73399cd54a1a1  low                7
ffb9eceeaa4d60da7b41cc8f0954cd50  low                2
ffd3c60281949a5cd806030203a79558  high               1
                                  low                5
                                  medium             1
ffd7307e4924587b30ec014a95db1362  high               4
                                  low               77
                                  medium            34
Name: bathrooms, dtype: int64

In [8]:
df_man = _

In [9]:
df_man = pd.DataFrame(df_man)

In [10]:
df_man.head()

                                                 bathrooms
manager_id                       interest_level
0000abd7518b94c35a90d64b56fbf3e6 low                     4
                                 medium                  8
001ce808ce1720e24a9510e014c69707 low                    10
003fc4e9a70053082f131b1054966aaf low                     1
00607a02f6efd9c6c7c588826e471ee9 medium                  2

In [11]:
manager_id = df_train["manager_id"].unique()

In [12]:
len(manager_id)

3481

Since the manager_id is a string, we can not use it in a logistic regression. We need to calculate a probability of interest level for each manager id.

In [13]:
prob=[]

In [14]:
for i in range(len(df_train)):
    #print(i)
    if df_train["interest_level"][i] == "low":
        prob.append(0.2)
    if df_train["interest_level"][i] == "medium":
        prob.append(0.5)
    if df_train["interest_level"][i] == "high":
        prob.append(0.7)

In [15]:
prob = pd.DataFrame(prob,columns=["interest_prob"])

In [16]:
df_train = pd.concat([df_train,prob],axis = 1)

In [17]:
df_train.columns.values

array(['bathrooms', 'bedrooms', 'building_id', 'created', 'description',
       'display_address', 'features', 'interest_level', 'latitude',
       'listing_id', 'longitude', 'manager_id', 'photos', 'price',
       'street_address', 'num_photos', 'num_features',
       'num_description_words', 'created_year', 'created_month',
       'created_day', 'interest_prob'], dtype=object)

In [18]:
df_train.groupby(['manager_id'])['interest_prob'].mean()

manager_id
0000abd7518b94c35a90d64b56fbf3e6    0.400000
001ce808ce1720e24a9510e014c69707    0.200000
003fc4e9a70053082f131b1054966aaf    0.200000
00607a02f6efd9c6c7c588826e471ee9    0.500000
00995ff28d79127ed2dca8320e9e7d09    0.300000
00a8d77892cab18fffaa22a751f1f8eb    0.200000
00f0b3346ba8379b26b95be8a19d46b1    0.200000
00f526d80353a50a52bbc26919e7ed5a    0.200000
01074bb974b125b65fa1b11a64c65135    0.200000
01157144534c928d731696e57ae4cd09    0.338462
01287194f20de51872e81f660def4784    0.200000
014520259b01b5c8523599de9d021285    0.575000
015ec75d52e204706be746706530371f    0.200000
016ae4f8903a08719d9d9f232d61d3ba    0.450000
0176ff9c2592a72403fca7904a582345    0.263889
0181a13829b8f9a85fae15e39ad41575    0.353846
01a3d37c88990d387e564806699ca55d    0.200000
01a6c313c643a5c9eeeb607b3a3f3dd1    0.200000
01c92a064394eb8fd1a084631c8bc701    0.200000
01caa8bedacb38c1a333b31647a0dd88    0.500000
01f1fadb85be52e12ffe3456b571fe5e    0.525000
0215950010e0c1a5b3357c47074d3580    0.500000
02199ff2601900857999310220e9a322    0.200000
0246857142b0b3318d5b518f05bca11b    0.200000
0265b385ed1cc5c5fe1ad974207096c0    0.500000
0299c9da66d8302ccb5f9d43b877150e    0.413333
029a969dcfc7abbddef41086ddaa3a1a    0.633333
02a6cb87b9a684318667b1a98143ba1f    0.200000
02b8c740c4cc957f21c8ce0fd4a27cc5    0.450000
02bce108a89a405d9399d8af06c64b8f    0.200000
                                      ...
fdd8043c48c7e8e2e5285b811dd7c87f    0.200000
fdf3fccc240aee8912275e9a2ed82453    0.200000
fdf948c8b1d2bbde9917f10882602a6f    0.700000
fe05aab6eeabe8980f88e214088b9232    0.452941
fe09ee40e79d35c5f2a4e118918681d3    0.500000
fe1aa4cf79b22146929b836739fec8ec    0.200000
fe2df0b7e8a03e7a4af5eb16bb92fa7f    0.200000
fe54b0bc19a2405978a0d39eecd6182d    0.200000
fe56e4d320ff4b347ec77069bc5e7617    0.200000
fe6eb9ad167b7502032a4b6553a6c635    0.200000
fe7076077ae23563520d054a917e3544    0.332558
fe8e4746a011f2dac35a332c7c96de0a    0.200000
fea6d07259b508125f80887f330aa27e    0.600000
feaa796733398e7c42a362cca5d3051b    0.200000
feb54423d38fb5ad0ea85634ab53e35b    0.550000
febc23ef5d45054c64e380bac1ab9a3e    0.500000
fef690cb34be367eddfe2490805ba621    0.227273
ff02723dde33dde012723b10783ecb30    0.368750
ff0502ae23268fdc5706225a8735cce6    0.300000
ff45f97e4709a06df6ca905a77f69072    0.500000
ff50149b1ec6a10fbb386d761c7a4bc5    0.300000
ff52574a198d8a349f41d57bd374e8e9    0.550000
ff564542a40d3e9b970a494df91b4cee    0.200000
ff5a3509ebce238dfa4857839ddd24ce    0.200000
ff707b7f0a2ea94a26c784f06c9fec69    0.314286
ff810b43aecfacd00f20a2912ff1e288    0.200000
ff8f1175d95c5a866ef73399cd54a1a1    0.200000
ffb9eceeaa4d60da7b41cc8f0954cd50    0.200000
ffd3c60281949a5cd806030203a79558    0.314286
ffd7307e4924587b30ec014a95db1362    0.306087
Name: interest_prob, dtype: float64

In [19]:
df_man_score = _

In [20]:
df_man_score = pd.DataFrame(df_man_score)

In [21]:
df_man_score.reset_index(level=0,inplace=True)

In [22]:
df_man_score.head()

                         manager_id  interest_prob
0  0000abd7518b94c35a90d64b56fbf3e6            0.4
1  001ce808ce1720e24a9510e014c69707            0.2
2  003fc4e9a70053082f131b1054966aaf            0.2
3  00607a02f6efd9c6c7c588826e471ee9            0.5
4  00995ff28d79127ed2dca8320e9e7d09            0.3

In [23]:
df_train = pd.merge(df_train, df_man_score, on='manager_id', how='left')

In [24]:
df_train.to_csv("df_train_manager.csv")